<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<iframe th:src="${src}" width="100%" height="100%" frameBorder="0">

</iframe>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 外面抢红包广告 -->
<div style="height: 100px;width: 100%;position: fixed;bottom: 0px;">
    <ins class="adsbygoogle"
         style="display:block;width: 100%;height:100%;"
         data-ad-client="ca-pub-9540087096615057"
         data-ad-slot="5451264395"
         data-ad-format="auto"></ins>
    <script>
        window.onload = function () {
            (adsbygoogle = window.adsbygoogle || []).push({});
        }
    </script>
</div>
</body>
</html>

